body {

}

.navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  border-radius: 0;
  background-color: #5bc0de;
}

.navbar, .navbar h2 {
  margin: 0;
}

.navbar h2 {
  padding: 15px 0 15px;
}

.nav li {
  padding: 4px 0;
  font-size: 20px;
  transition: .15s;
}

.nav li:hover, .nav li:active {
  border-bottom: 5px solid #5bc0de;
  color: #000;
}

@media all and (min-width: 0px) and (max-width: 768px) {
  .nav {
    text-align: center;
    margin-right: 40%;
  }
}

.nav {
  float: right;
}

.bodyt {
  padding: 115px 20%;
  background-image: url("banner.jpg");
  border-bottom: 5px solid #5bc0de;
  text-align: center;
}

.bodyt h1 {
  color: #fff;
  font-size: 55px;
  margin-top: 100px;
  margin-bottom: 50px;
}

@media all and (min-width: 0px) and (max-width:768px) {
  .bodyt h1 {
    font-size: 35px;
  }
}

@media all and (max-width: 768px) and (min-width: 0px) {
  .bodyt img {
    width: 75%;
    margin-top: 40px;
  }
}

.body {
  margin-top: 25px;
}

.profile {
  width: 100%;
  margin-top: 25px;
}

.body h1 {
  text-align: center;
  font-size: 40px;
}

.bodyt button a {
  color: #fff;
}

.about img {
  width: 92%;
}

.text {
  font-size: 17px;
  margin-bottom: 60px;
}

@media all and (min-width: 0px) and (max-width: 768px) {
  h2 {
    text-align: center;
  }
}

.dicons {
  background: #f5f5f5;
  text-align: center;
  padding: 48px 0;
  color: #232323;
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
  transition: .25s;
  margin-bottom: 24px;
  font-size: 18px;
}

.dicons:hover {
  background: #5bc0de;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,.3);
}

.case i {
  font-size: 25px;
}

.case p {
  margin: 14px 0;
}

@media all and (min-width: 0px) and (max-width:768px) {
  .dicons {
    width: 50%;
    margin-left: 25%;
  }
}

.progress {
  overflow: visible;
  border-radius: 5px;
}

.progress-bar {
  position: relative;
  border-radius: 5px;
}

.progress-bar span {
  width: 40px;
  line-height: 40px;
  color: #000;
  background: #fff;
  position: absolute;
  top: -16px;
  right: -20px;
  box-shadow: 0 3px 6px rgba(0,0,0,.3);
}

.knowledge ul {
  font-size: 17px;
  line-height: 30px;
}

.education {
  padding: 95px 0;
  margin: 80px 0;
  margin-bottom: 90px;
  padding-bottom: 0;
}

.education .item {
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
  color: #232323;
}

.education .item .marker {
  width: 22px;
  height: 22px;
  background: #fff;
  border: 6px solid #7c4dff;
  position: absolute;
  left: 130px;
  box-shadow: 0 2px 6px rgba(0,0,0,.25);
  z-index: 1;
}

.education .item .content {
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  padding: 24px;
  position: absolute;
  bottom: 50px;
  margin: 0 12px;
}

.education .item .content span {
  text-transform: uppercase;
}

.education .item .year {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  top: 45px;
}

.education .line {
  border-bottom: 1px dashed #232323;
  padding-bottom: 12px;
}

.icon-box {
  text-align: center;
}

.icon {
    display: inline-block;
    width: 100px;
    line-height: 100px;
    font-size: 45px;
    color: #232323;
    box-shadow: 0 2px 6px rgba(0,0,0,.25);
    transition: .25s;
    background-color: #f5f5f5;
}

.icon:hover {
  background-color: #5bc0de;
  color: #fff;
}

.list-icons {
    padding-left: 0;
    margin-left: 36px;
    list-style-type: none;
}

.list-icons > li {
    position: relative;
    margin-bottom: 12px;
}

.list-icons > li > i {
    position: absolute;
    left: -36px;
    width: 36px;
    top: 2px;
    text-align: center;
    color: #232323;
    font-size: 18px;
    vertical-align: middle;
}

.spacer {
    margin-bottom: 48px;
}

.form-horizontal .control-label {
    text-align: left;
}

input:not([type=submit]):not([type=file]), select, textarea {
    border: none;
    border-bottom: 1px solid #d7d7d7;
    background: none;
    width: 100%;
    padding: 2px 6px;
    outline: none !important;
    transition: .25s;
}

.alert-info {
    background: #2196F3;
    color: #fff;
}

.alert-success {
    background: #4CAF50;
    color: #fff;
}

.alert-danger {
    background: #F44336;
    color: #fff;
}

.alert {
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    border: none;
    margin-bottom: 0;
    margin-top: 24px;
    display: none;
    font-size: 15px;
    line-height: 26px;
    border-radius: 3px;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
  margin-top: 50px;
  margin-bottom: 35px;
}

#contact h5 {
  font-size: 20px;
  line-height: 40px;
}

.copyright {
  text-align: center;
  background-color: #5bc0de;
  color: #fff;
  padding: 10px 0;
  margin-top: 70px;
}

.copyright p {
  margin: 0;
}
